*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body, #root {
  background-color: #d5d6d6;
  min-height: 120vh;
  overflow-x: hidden;
}


.d-flex{
  display: flex;
  margin-right: 7%;

}
.bg-body-tertiary{
  height: 12vh;
    background:  linear-gradient(90deg, #2F6DB3, #4F8FD8);

}
 Button{
  width:  170px;
 
 
}
.d-flex , .me-2{
width: 33%;
}
span{
  color: white;
font-size: 25px;
}
nav{
color: white;
font-size: 18px;
}
.Movie{
  margin-left: 10vh;
  
}
.Research-letter{
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.navbar-toggler-icon:hover{
  background-color: #76bbff !important;
}

.movie-search{
 text-align: center;
}
.card-title{
  font-size: 1.30rem  !important;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text{
  font-size: 1.05rem !important;
}
 /* box */

.Cards{
   width: 19rem;
   height: 42vh;
}

.imgbanda{
  height: 27vh;
  
}
.movies-row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-left: 7vh;
  margin-top: 16vh;
  cursor: pointer;
  margin-bottom: 5vh;
   padding-bottom: 10px;
}
.box :hover {
background:  linear-gradient(90deg, #2F6DB3, #4F8FD8)
}


/* Responsive */
/* ============= Base (Desktop First Grid) ============= */

.movies-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin: 10vh auto 2vh;
  width: 95%;
}

.Cards {
  width: 100%;
  max-width: 22rem;
  margin: auto;
}

.imgbanda {
  height: 22vh;
  object-fit: cover;
}

/* ================= Mobile ================= */
@media (max-width: 576px) {

  .movies-row {
    grid-template-columns: 1fr;
  }

  .btn-search {
    display: none;
  }

  .navbar-toggler {
    width: 45px;
  }

  .navbar-toggler-icon {
    width: 25px;
    height: 20px;
  }

  span {
    font-size: 20px;
  }
}


/* ================= Tablet ================= */
@media (min-width: 577px) and (max-width: 768px) {

  .movies-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .Cards {
    max-width: 16rem;
  }

  span {
    font-size: 26px;
  }
}


/* ================= Small Laptop ================= */
@media (min-width: 769px) and (max-width: 992px) {

  .movies-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .Cards {
    max-width: 20rem;
  }

  span {
    font-size: 30px;
  }
}


/* ================= Desktop ================= */
@media (min-width: 993px) {

  .movies-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .Cards {
    max-width: 26rem;
  }

  span {
    font-size: 40px;
  }
}
